html {
        font-size: 12px;
    
        @media only screen and (min-width: 481px) {
            font-size: 16px;
        }
}

.navbar {
    position: relative;
}

.sectionMain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 3rem;
    }
}

.atlasFarewell {
    width: 800px;
    border-radius: 5%;

    filter: invert(0);

    @media (max-width: 1024px) {
        width: 100%;
    }
}


hr {
    margin: 2rem 0;
}

.buttonNext {
    margin-bottom: 1rem;
    font-size: 20px;
    margin-top: 1.5rem;
    height: 3.5rem;
    border-radius: 9999px;
    font-family: Silka, Montserrat;
    background-color: #EDF2F7;
    color: #ffffff;
    font-weight: 900;
    color: black;
}


.sectionSquare2 {
    background-color: #FFFFFF;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: .5rem;
    box-shadow: 4px 4px 12px #00000014;


    @media only screen and (min-width: 481px) {
        width: 34rem;
    html {
        font-size: 12px;
    }
    }
}

.sectionSquare2 > div {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.fullNameLabel {
    font-size: 20px;
    margin-right: 1rem;
    font-weight: 600;
    color: black;
    font-family: TTfirs, Montserrat;
}

.contactLabel {
    font-weight: 600;
    color: black;
    font-family: TTfirs, Montserrat;
}

.firstName, .lastName {
    height: 3rem;
    width: 9rem;
    font-size: 20px;
    border: 2px solid black;
}

.sectionSquare2Inputs {
    height: 3rem;
    font-size: 20px;
    width: 19rem;
    border: 2px solid black;
}

input {
    text-align: center;
    border-radius: 9px;
    background-color: #EDF2F7;
    font-family: Silka;

}