@tailwind base;
@tailwind components;
@tailwind utilities;

/* *, *:before, *:after { */
/*     box-sizing: inherit; */
/*     padding: 0; */
/*     margin: 0; */
/* } */

@font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
}
  
@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}

@font-face {
    font-family: "Silka";
    src: url('fonts/silka-regular-webfont.eot');
	src: url('fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/silka-regular-webfont.woff') format('woff'),
	     url('fonts/silka-regular-webfont.ttf') format('truetype'),
	     url('fonts/silka-regular-webfont.woff2') format('woff2')
}

@font-face {
    font-family: "TTFirs";
    src: url('fonts/TT\ Firs\ Neue\ Normal.ttf') format('truetype')
}